{
  "rootDir": ".",
  "filePushOrder": [
    "util/duration.ts",
    "data/participants.ts",
    "data/races.ts",
    "clients/midos_house.ts",
    "clients/racetime_data.ts",
    "clients/racetime.ts",
    "slide_decks/ccs7.ts",
    "slide_decks/coops3.ts",
    "slide_decks/tfbs3.ts",
    "stats_calculator.ts",
    "create_menu.ts",
    "auto_layout.ts"
  ]
}
